parameters:
  autoload_directories:
    - lib
  bootstrap: %currentWorkingDirectory%/../../lib/base.php
  ignoreErrors:
    - '#Parameter \#2 \$redirect of method Jumbojett\\OpenIDConnectClient::signOut\(\) expects string, null given.#'
